.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 100%;
    background: rgb(233, 233, 233);
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 40px;
}

.header__button {
    background: rgb(82, 85, 255);
    border: none;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    color: rgb(222, 228, 253);
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    padding-bottom: 5px;
    color: white;
    box-shadow: 3px 3px 2px darkgray;
    cursor: pointer;
}

.guestmenu {
    margin: 0 auto;
    max-width: 100%;
    height: 100vh;
    display: flex;
    background: rgb(233, 233, 233);
}

.guestmenu__inner {
    width: 30%;
    margin: 30px auto;
    padding: 30px 15px;
    text-align: center;
}

.form__button {
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.menu__home-button,
.menu__registration-button,
.menu__login-button {
    display: block;
    font-size: 30px;
    text-decoration: none;
    color: rgb(82, 85, 255);
    font-weight: bold;
}